<!DOCTYPE html>
<html lang="en" ng-app="app" ng-strict-di>
<head>
  <meta charset="UTF-8">
  <title>Todo Quest</title>

  <link rel="stylesheet" href="../../build/css/style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/vendor/flat-ui/dist/css/flat-ui.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/vendor/toastr/toastr.min.css" media="screen" charset="utf-8">
  <link href="/app/assets/img/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>
<body id="app">

  <div data-ng-include="'navbar.html'"></div>

  <section id="content" class="col-lg-10 col-lg-offset-1">
    <div ui-view></div>
  </section>


  <!-- JQUERY -->
  <script src="/vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <!-- BOOTSTRAP -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/vendor/bootstrap/js/dropdown.js" charset="utf-8"></script>
  <script src="/vendor/flat-ui/dist/js/flat-ui.min.js" charset="utf-8"></script>
  <!-- VENDOR -->
  <script src="/vendor/toastr/toastr.min.js" charset="utf-8"></script>
  <script src="/vendor/moment/min/moment.min.js" charset="utf-8"></script>
  <script src="/vendor/underscore/underscore-min.js" charset="utf-8"></script>
  <!-- ANGULAR -->
  <script src="/vendor/angular/angular.min.js" charset="utf-8"></script>
  <script src="/vendor/angular-route/angular-route.min.js" charset="utf-8"></script>
  <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="/vendor/angular-sanitize/angular-sanitize.min.js" charset="utf-8"></script>
  <!-- JS -->
  <script src="../../build/js/app.js" charset="utf-8"></script>

</body>
</html>
